 .main {
    width: 80%;
    background-color: lightgray;
    display: inline-block;
    margin-left: 13%;
 }

 .cards {
    float: left;
    height: 300px;
    /* box-shadow: 3px 3px 3px 3px gray; */
    box-shadow: 0 0  3px 3px gray;
          /*    h v b    w */
    width: 25%;
    margin: 3%;

 }

 .cards :hover {
    opacity: .7;
 }

 .cards>img {
    height: 150px;
    width: 100%;
 }